<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="title">Title:</label>
        <input value="<%= onetodo.title %>" type="text" name="title">
        <label for="todoBody">Description:</label>
        <input value="<%= onetodo.description %>" type="text" name="description">
        <button type="submit">Update</button>
    </form>
    
</body>
</html>