<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>Fisrt Ejs File</h1>
      <%= Math.random() %>

    <p><%= 2 * 2 %></p>
    

    <% if (gender == "male") { %>
        <p>
            Na woman you be
        </p>
    <% }else{ %>

        <p>
            Na man you be
        </p>
    <% } %>

      <% allusers.forEach(element => { %>
         <h1><%= element.name %></h1>
         <h1><%= element.food %></h1>
      <% }) %>
      
</body>
</html>